# Data Munging

In [1]:
import pandas as pd
import numpy as np
import json

In [18]:
df_html = pd.read_html('https://en.wikipedia.org/wiki/Fortune_Global_500', header=0)[0]
fortune_500 = json.loads(df_html.to_json(orient = 'records'))
df_html

,Rank,Company,Country,Industry,Revenue in USD
0,1,Walmart,United States,Retail,$514 billion
1,2,Sinopec Group,China,Petroleum,$415 billion
2,3,Royal Dutch Shell,Netherlands United Kingdom,Petroleum,$397 billion
3,4,China National Petroleum,China,Petroleum,$393 billion
4,5,State Grid,China,Energy,$387 billion
5,6,Saudi Aramco,Saudi Arabia,Energy,$356 billion
6,7,BP,United Kingdom,Petroleum,$304 billion
7,8,Exxon Mobil,United States,Petroleum,$290 billion
8,9,Volkswagen,Germany,Automobiles,$278 billion
9,10,Toyota Motor,Japan,Automobiles,$273 billion

In [ ]:
fortune_500

In [20]:
df_html.columns

Index(['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD'], dtype='object')

# Web Scraping

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
response = requests.get('https://en.wikipedia.org/wiki/Fortune_Global_500')

In [ ]:
response.reason

In [ ]:
soup = BeautifulSoup(response.text, "lxml")

In [ ]:
soup.find_all('table')[0]

In [ ]:
soup.select('span.mw-headline')

In [1]:
A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

cat=[]
for a in A:
    for b in B:
        cat.append(a,b)

TypeError: append() takes exactly one argument (2 given)